body::before{
    content:'>1200px';
    position:fixed;
    font-size: 24px;
    font-weight: 700;
    bottom:0;
    right:0;
    color:red;
}

.hero_img{
    width:100%;
    height:500px;
    object-fit: cover;
}
.card_box{
    width:500px;
    border:1px solid lightgray;
    margin:1px auto;
    border-radius: 14px;
}
.card_img{
    width:100%;
    height:120px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    object-fit: cover;
}
.content{
    padding:15px;
}
.responsive_box{
    background: #e3d8d8;
    width:1200px;
    height:500px;
    border:1px solid lightgray;
    border-radius: 14px;
    margin:30px auto;
    display: none;
}

@media (max-width:1200px){
    body::before{
        content: '1200px';
    }
    .card_box{
        width:400px;
    }
}

@media (max-width:990px){
    body::before{
        content: '900px';
    }
    .card_box{
        width:300px;
    }
    .card_box p{
        font-size: 14px;
    }
    .card_img{
        height:200px;
    }
    
}

@media (max-width:600px){
    body::before{
        content: '600px';
    }
    
}